@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&family=Noto+Sans+Thai&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
}
.header{
  background-color: #fff;
  overflow: hidden;
  border-bottom: 3px solid #04AA6D;
  margin-bottom: 20px;
  box-shadow: 0 0 10px #999999 ;
}
.img-logo{
  float: left;
}
.header .link-header{   
  display: grid;
  float: right;
  margin: 40px;
}
.box-user{
  text-align: center;
  display: flex;
  float: right;
  border-bottom: 2px solid #04AA6D;
}
.box-user span{   
  font-size: 20pt;
  margin: 5px;
}
.box-user p{   
  font-size: 16pt;
  margin: 8px 5px;
}
.box-university{
  float: right;
  text-align: center;
}
.navbar-item {
  display: flex;
  width: 100%;
}

.navbar-item a{
  width: 100%;
  text-align: center;
  background-color: #00c97f;
  padding: 20px;
  font-size: 16pt;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.navbar-item a:hover{
  background-color: #4d4d4d;
  transition: 0.2s;
}
.nav {
  text-align: center;
}
.ham-menu {
  display: none;
  background-color: #00c97f;
  padding: 10px 0;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px auto;
  transition: 0.4s;
}
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
.container {
    padding: 16px;
    background-color: white;
    width: 50%;
    margin:5vh auto;
  }
  label{
    font-size: 18pt;
  }
  .container .add-sportequipment{
    font-size: 25pt;
    margin: 20px 0;
}
  .container p{
    font-size: 16pt;
  }
/* Full-width input fields */
input[type=text], input[type=password], textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus,  textarea:focus{
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .submit-save {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 14pt;
  }
  
  .submit-save:hover {
    transition: 0.2s;
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  @media (max-width: 1648px) {
    .navbar-item {
      display: none !important;
    }
    .ham-menu {
      display: inline-block;
      cursor: pointer;
      width: 100%;
    }
    .menu-active {
      display: grid !important;
      max-height: 500px;
    }
    .navbar-item a {
      background-color: #4d4d4d;
      color: #ffffff;
      font-size: 16pt;
    }
    .navbar-item a:hover {
      background-color: #ffffff;
      transition: 0.2s;
      color: #4d4d4d;
    }
  }
  @media (max-width: 1024px) {
    .container {
      width: 65%;
    }
    .container .add-sportequipment{
      font-size: 24pt;
      margin: 20px 0;
      text-align: center;
    }
    .container p{
      font-size: 12pt;
      text-align: center;
    }
    .item-detail {
      max-width: 700px;
  }
  }
  @media (max-width: 600px) {
    .container {
      width: 80%;
    }
    .container .add-admin{
      font-size: 24pt;
      margin: 20px 0;
      text-align: center;
    }
    .container p{
      font-size: 12pt;
      text-align: center;
    }
    .item-detail {
      max-width: 420px;
    }
  }