<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div class="header">
  <div class="img-logo">
    <img src="../../../assets/KU_SubLogo_Thai.png" alt="" width="150px"  class="logo"/>
  </div>
  <div class="link-header">
    <div class="box-user">
    <span class="material-symbols-outlined">
      account_circle
      </span>
    <p>{{ this.firstname }} {{ this.lastname }}</p>
  </div>
    <div class="box-university">
      มหาวิทยาลัยเกษตรศาสตร์
    </div>
  </div>
</div>
<div class="nav">
  <div class="ham-menu" (click)="myFunction($event.target)">
    <div>
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>
  <div class="navbar-item" id="myMenu">
    <a [routerLink]="['/fitnessitem']">อุปกรณ์กีฬา</a>
    <a [routerLink]="['/selections']">รายการยืมทั้งหมด</a>
    <a [routerLink]="['/qrcode']">QR CODE</a>
    <a [routerLink]="['/profile']">ข้อมูลส่วนตัว</a>
    <a (click)="logout()">ออกจากระบบ</a>
  </div>
</div>
<div class="selections">
  <div class="qrcode">
      <div class="title-qrcode">สแกน QR CODE</div>
      <div class="box-link-header">
        <div class="box-user-qrcode">
          <span class="material-symbols-outlined">
            account_circle
          </span>
          <p>{{ this.firstname }} {{ this.lastname }}</p>
        </div>
        <div class="box-university-qrcode">
          มหาวิทยาลัยเกษตรศาสตร์
        </div>
      </div>
      <div *ngIf="qrCodeUrl" class="box-qrcode">
        <div class="box-img-qrcode">
          <img [src]="qrCodeUrl" alt="QR_Code" width="200px" class="QR_Code_imgage"/>
        </div>
          <br />
        <button (click)="downloadQRCode()" class="downloads-qrcode">ดาวน์โหลด QR Code</button>
      </div>
  </div>
</div>
