@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&family=Noto+Sans+Thai&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans Thai', sans-serif;
  font-family: 'Noto Sans Thai', sans-serif;
}

.header{
  background-color: #fff;
  overflow: hidden;
  border-bottom: 3px solid #04AA6D;
  margin-bottom: 20px;
  box-shadow: 0 0 10px #999999 ;
}
.img-logo{
  float: left;
}
.header .link-header{   
  display: grid;
  float: right;
  margin: 40px;
}
.box-user{
  text-align: center;
  font-size: 14pt;
  display: flex;
  float: right;
  border-bottom: 2px solid #04AA6D;
}
.link-header span{   
  font-size: 20pt;
  margin: 0px 5px;
}
.link-header p{   
  font-size: 16pt;
  margin: 2px 5px;
}
.box-university{
  float: right;
  text-align: center;
}
.navbar-item {
  display: flex;
  width: 100%;
}

.navbar-item a{
  width: 100%;
  text-align: center;
  background-color: #00c97f;
  padding: 20px;
  font-size: 16pt;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.navbar-item a:hover{
  background-color: #4d4d4d;
  transition: 0.2s;
}
.navbar-link a {
  color: #fff;
  text-decoration: none;
  font-size: 15pt;
}
.nav {
  text-align: center;
}
.ham-menu {
  display: none;
  background-color: #00c97f;
  padding: 10px 0;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px auto;
  transition: 0.4s;
}
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.qrcode {
  width: 30%;
  margin: 35px auto;
  text-align: center;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 10px;
  overflow: hidden;
}

.box-link-header{
  display: grid;
  margin: 10px 30px;
}

.box-user-qrcode{
  text-align: center;
  font-size: 14pt;
  float: right;
  border-bottom: 2px solid #04AA6D;
}

.box-user-qrcode .material-symbols-outlined{
  font-size: 60pt;
  color: #4d4d4d;
}

.box-user-qrcode p{
  font-size: 18pt;
  padding: 3px 5px;
  color: #4d4d4d;
  font-weight: 700;
}

.box-university-qrcode{
  font-size: 14pt;
  padding: 5px;
  color: #4d4d4d;
}

.QR_Code_imgage{
    width: 250px;
    border: 2px solid #e9e9e9;
}

.title-qrcode {
  background-color: #00c97f;
  padding: 20px;
  font-size: 20pt;
  color: #fff;
  border-radius: 10px 10px 0 0;
}
.box-text-contact{
  padding: 10px;
  margin: 0 10px;
  font-size: 14pt;
  border-bottom: 2px solid #e9e9e9;
}
.box-qrcode{
  margin: 10px 30px;

}
button.downloads-qrcode{
width: 100%;
border: 0;
background-color: #006eff;
padding: 15px;
font-size: 14pt;
color: #fff;
border-radius: 5px;
}
button.downloads-qrcode:hover{
  background-color: #0050b9;
  transition: 0.2s;
}
@media (max-width: 1280px) {
  .qrcode {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .navbar-item {
    width: 100%;
  }
  .navbar-item a {
    font-size: 12pt;
  }
}

@media (max-width: 790px) {
  .navbar-item {
    display: none;
  }
  .ham-menu {
    display: inline-block;
    cursor: pointer;
    width: 100%;
  }
  .menu-active {
    display: grid !important;
  }
  .navbar-item a {
    background-color: #4d4d4d;
    color: #ffffff;
    font-size: 16pt;
  }
  .navbar-item a:hover {
    background-color: #ffffff;
    transition: 0.2s;
    color: #4d4d4d;
  }
  .qrcode {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .img-logo {
    float: none;
    text-align: center;
  }
  .header .link-header {
    float: none;
  }
  .box-user {
    text-align: center;
    float: none;
    margin: 0 auto;
  }
}
