<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<div class="header">
  <div class="img-logo">
    <img src="../../../assets/KU_SubLogo_Thai.png" alt="" width="150px" class="logo" />
  </div>
  <div class="link-header">
    <div class="box-user">
      <span class="material-symbols-outlined">admin_panel_settings</span>
      <p>{{ firstname }} {{ lastname }}</p>
    </div>
    <div class="box-university">
      มหาวิทยาลัยเกษตรศาสตร์
    </div>
  </div>
</div>
<div class="nav">
  <div class="ham-menu" (click)="myFunction($event.target)">
    <div>
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>
  <div class="navbar-item" id="myMenu">
    <a [routerLink]="['/borroweditems']">รายการยืมของสมาชิก</a>
    <a [routerLink]="['/returnitem']">รายการคืนของสมาชิก</a>
    <a [routerLink]="['/sportsequipment']">อุปกรณ์กีฬา</a>
    <a [routerLink]="['/member']">สมาชิก</a>
    <a [routerLink]="['/admin']">ผู้ดูแลระบบ</a>
    <a [routerLink]="['/borrowingreport']">รายงานการยืม - คืน</a>
    <a routerLink="/">ออกจากระบบ</a>
  </div>
</div>
<div class="selections">
  <div class="title-selections">
    <div class="head-selection">รายชื่อของสมาชิก</div>
    <div class="search">
      <input type="search" class="search" [(ngModel)]="searchTerm" placeholder="ค้นหา" />
      <button class="btn-search" (click)="searchMembers()">ค้นหา</button>
    </div>
  </div>
  <table id="customers">
    <tr>
      <th>ลำดับ</th>
      <th>คำนำหน้า</th>
      <th>ชื่อ</th>
      <th>นามสกุล</th>
      <th>อีเมล</th>
      <th>เพศ</th>
      <th>เบอร์โทรศัพท์</th>
      <th>การจัดการ</th>
    </tr>
    <tr *ngFor="let member of filteredMembers | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
      <td data-call="ลำดับ">{{ (p - 1) * 5 + i + 1 }}</td>
      <td data-call="คำนำหน้า">{{ member.prefix }}</td>
      <td data-call="ชื่อ">{{ member.firstname }}</td>
      <td data-call="นามสกุล">{{ member.lastname }}</td>
      <td data-call="อีเมล">{{ member.email }}</td>
      <td data-call="เพศ">{{ member.sex }}</td>
      <td data-call="เบอร์โทรศัพท์">0{{ member.telephone_number }}</td>
      <td data-call="การจัดการ">
        <span>
          <span *ngIf="member.member_status === 'Y'" class="box-btn-borrow">
            <button class="borrow" (click)="confirmApproval(member.member_id)">
              <div class="box-icon-text">
                <span class="material-symbols-outlined">close</span>
                <p>ยกเลิกการระงับ</p>
              </div>
            </button>
          </span>
          <span *ngIf="member.member_status === 'N'" class="box-btn-borrow">
            <button class="no-borrow" (click)="confirmApproval(member.member_id)">
              <div class="box-icon-text">
                <span class="material-symbols-outlined">check</span>
                <p>ระงับการใช้งาน</p>
              </div>
            </button>
          </span>
        </span>
      </td>
    </tr>
  </table>
  <div class="paging">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
