<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<body>
  <div class="container">
    <div class="login">
      <div class="head-text">สมัครสมาชิก</div>
      <div class="container-login">
        <form action="/action_page.php">
          <div class="container-form">
            <p>กรุณากรอกข้อมูลเพื่อสร้างบัญชี.</p>
            <label for="prefix"><span class="material-symbols-outlined">person</span><b>คำนำหน้า</b></label>
            <select name="prefix" id="prefix" #prefix>
              <option value="นาย">นาย</option>
              <option value="นางสาว">นางสาว</option>
              <option value="นาง">นาง</option>
              <option value="เด็กชาย">เด็กชาย</option>
              <option value="เด็กหญิง">เด็กหญิง</option>
            </select>
            <div class="box-flex">
              <div class="box-grid">
            <label for="firstname"><span class="material-symbols-outlined">badge</span><b>ชื่อ</b></label>
            <input
              type="text"
              placeholder="กรุณากรอกชื่อ"
              name="firstname"
              id="firstname"
              required
              #firstname
            />
          </div>
          <div class="box-grid">
            <label for="lastname"><span class="material-symbols-outlined">badge</span><b>นามสกุล</b></label>
            <input
              type="text"
              placeholder="กรุณากรอกนามสกุล"
              name="lastname"
              id="lastname"
              required
              #lastname
            />
          </div>
          </div>
          <div class="box-flex">
            <div class="box-grid">
            <label for="email"><span class="material-symbols-outlined">mail</span><b>อีเมล</b></label>
            <input
              type="email"
              placeholder="กรุณากรอกอีเมล"
              name="email"
              id="email"
              required
              #email
            />
          </div>
          <div class="box-grid">
            <label for="psw"><span class="material-symbols-outlined">key</span><b>รหัสผ่าน</b></label>
            <input
              type="password"
              placeholder="กรุณากรอกรหัสผ่าน"
              name="psw"
              id="psw"
              required
              #password
            />
          </div>
          </div>
            <label for="detail"><span class="material-symbols-outlined">wc</span><b>เพศ</b></label>
            <select name="" id="" #sex>
              <option value="" disabled>--เลือก--</option>
              <option value="ชาย">ชาย</option>
              <option value="หญิง">หญิง</option>
              <option value="เด็กชาย">เด็กชาย</option>
              <option value="เด็กหญิง">เด็กหญิง</option>
            </select>
            <label for="telephone"><span class="material-symbols-outlined">call</span><b>เบอร์โทร</b></label>
            <input
              type="tel"
              name="telephone"
              id="telephone"
              placeholder="กรุณากรอกเบอร์โทรศัพท์"
              required
              min="0"
              oninput="this.value = this.value.slice(0, 10)"
              #telephone
            />
            <button
              type="submit"
              class="registerbtn"
              (click)="save_register(prefix.value,firstname.value,lastname.value,email.value,password.value,sex.value,telephone.value)"
            >
              สมัคร
            </button>
          </div>

          <div class="container signin">
            <p>มีบัญชีอยู่แล้ว? <a routerLink="">เข้าสู่ระบบ</a>.</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
